{% extends 'store/base.html' %}
{% load static %}
{% block content %}


<hr/>
<br>

<body>

	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h3 id="form-title">Login</h3>
				</div>
				<br>
				<div class="d-flex justify-content-center form_container">
					<form method="POST" action="">
						{% csrf_token %}
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input"></span>
							</div>
							<input type="text" name="username" placeholder="Nombre de usuario" class="form-control">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input"></span>
							</div>
								<input type="password" name="password" placeholder="Tu contraseña" class="form-control" >
						</div>
							<br>
							<div class="d-flex justify-content-center mt-3 login_container">
				 				<input class="btn btn-primary login_btn" type="submit" value="Iniciar sesión">
				   			</div>
					</form>

				</div>

				{% if messages %}
                  <ul class="messages">
                    {% for message in messages %}
                    <div class="alert alert-danger" role="alert" style="margin-top: 20px;">
                      <li class="{{ message.tags }}">{{ message }}</li>
                    </div>

                    {% endfor %}
                  </ul>
                {% endif %}

				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						¿No tienes cuenta? <a href="{% url 'register' %}" class="ml-2">Regístrate</a>
					</div>
					<div class="d-flex justify-content-center links">
						¿Olvidaste tu contraseña? <a href="{% url 'reset_password' %}" class="ml-2">Recupera tu contraseña</a>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>

{% endblock content %}
