{% extends 'store/base.html' %}
{% load static %}
{% block content %}
	<title>Editar</title>
<body>

<hr/>
<br>
<div class="alert alert-warning" role="alert">
	<strong>¡Atención!</strong> Puedes modificar tus datos personales, pero sólo se realizarán los cambios una vez ingreses la misma contraseña con la que te inscribiste.
	<p>Si modificas tus datos, tendrás que volver a logear.</p>
</div>
<div class="container">
	<h3 class="text-center">Modifica tus datos personales</h3>
</div>
<form method="POST" action="" enctype="multipart/form-data">
	<form method="POST" action="" enctype="multipart/form-data">
	{% csrf_token %}

	<div class="mb-3">
	<label for="input-group-append" class="form-label">Nombre de usuario</label>
	{{form.username}}
	</div>
	<div class="mb-3">
		<label for="input-group-append" class="form-label">Correo</label>
		{{form.email}}
	</div>
	<div class="mb-3">
		<label for="input-group-append" class="form-label">Contraseña</label>
		{{form.password1}}
	</div>
	<div class="mb-3">
		<label for="input-group-append" class="form-label">Repite tu contraseña</label>
		{{form.password2}}
	</div>
	<div class="mb-3">
		<label for="input-group-append" class="form-label">Nombre</label>
		{{profile.name}}
	</div>
	<div class="mb-3">
		<label for="input-group-append" class="form-label">Apellido</label>
		{{profile.last_name}}
	</div>
	<div class="mb-3">
		<label for="input-group-append" class="form-label">Teléfono</label>
		{{profile.phone_number}}
	</div>
	<div class="mb-3">
		<label for="input-group-append" class="form-label">Rut</label>
		{{profile.rut}}
	</div>

	<div class="d-flex justify-content-center mt-3 login_container">
		<input class="btn btn-success" type="submit" value="Editar Usuario">
	</div>
	<div class="d-flex justify-content-center mt-3 login_container">
		<input class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" type="submit" value="Eliminar mi cuenta">
	</div>

<div class="pt-5">
	{% if messages %}
		{% for message in messages %}
		<div class="alert alert-info" role="alert" style="margin-top: 10px;">
			<li class="{{ message.tags }}">{{ message }}</li>
		</div>
		{% endfor %}
	{% endif %}

</form>




<!-- Modal ALERTA eliminación de cuenta-->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
			<div class="modal-body">
			¿Seguro de que deseas eliminar tu cuenta?
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			<a class="btn btn-danger" href="{% url 'delete' %}">Eliminar</a>
			</div>
			</div>
		</div>
	</div>
		</div>
    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder='Usuario';
        form_fields[2].placeholder='Email';
        form_fields[3].placeholder='Contraseña';
        form_fields[4].placeholder='Repetir Contraseña';
        for (var field in form_fields){
        form_fields[field].className += ' form-control'
        }
    </script>
</body>
{% endblock content %}
