{% extends 'store/base.html' %}
{% load static %}
{% block content %}

<hr/>
<br>
<div class="container">
    <h3 align="center">Ingresa una nueva contraseña</h3>
    <br>
    <p align="center">Por favor ingresa tu contraseña 2 veces, de modo que podamos verificar que la haz escrito de manera correcta</p>
    <form method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Reestablecer Contraseña">
    </form>
</div>
<br>

{% endblock content %}