{% extends 'store/base.html' %}
{% load static %}
{% block content %}

<hr/>
<br>
<div class="container">
    <h3 align="center">Restauración de contraseña completada</h3>
    <br>
    <p align="center">Tu contraseña fue restaurada. Puedes acceder al sitio ahora</p>
    <p align="center">Revisa tu carpeta de <strong>Spam</strong></p>
    <a href="{% url 'login' %}">Iniciar Sesión</a>
</div>
<br>
</div>

{% endblock content %}