{% extends 'store/base.html' %}
{% load static %}
{% block content %}

<hr/>
<div class="container">
<h3 align="center">Recuperación de Contraseña</h3>
<br>
<p align="center">Ingrese el correo con el cual se registró, te enviaremos un link para que puedas ingresar: </p>
</div>
<br>
<form method="POST" class="text-center form-group">
    {% csrf_token %}
    {{form}}

    <input type="Submit" class="btn btn-success"></button>

</form>
</div>
{% endblock content %}