{% extends 'store/base.html' %}
{% load static %}
{% block content %}

<hr/>
<br>
<div class="container">
    <h3 align="center">Restauración de Contraseña Enviada</h3>
    <br>
    <p align="center">Te hemos enviado un correo con un enlace para reestablecer tu contraseña.</p>
    <p align="center">Revisa tu carpeta de <strong>Spam</strong></p>
</div>
<br>
</div>
{% endblock content %}
