{% extends 'store/base.html' %}
{% load static %}
{% block content %}


	<title>Registro Vendedores</title>
<hr/>
<body>
	<div class="container h-100">
		<a  class="btn btn-outline-dark" href="{% url 'listado_usuarios' %}">&#x2190; Volver al Listado</a>
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h3 id="form-title">Agregar nuevo vendedor</h3>
				</div>
				<br>
				<div class="d-flex justify-content-center form_container">

					<form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							{{form.username}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-envelope"></i></span>
							</div>
							{{form.email}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							{{form.password1}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							{{form.password2}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							{{profile.name}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							{{profile.last_name}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-phone"></i></span>
							</div>
							{{profile.phone_number}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-phone"></i></span>
							</div>
							{{profile.rut}}
						</div>
						
				   		<div class="d-flex justify-content-center mt-3 login_container">
				 			<input class="btn btn-success login_btn" type="submit" value="Registrar Vendedor">
				   		</div>
					</form>
				</div>

                {{form.errors}}
			</div>
		</div>
	</div>
	<script>
						/* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
		//We start indexing at one because CSRF_token is considered and input field
		 */

		//Query All input fields
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Usuario';
		form_fields[2].placeholder='Correo';
        form_fields[3].placeholder='Contraseña';
        form_fields[4].placeholder='Repetir Contraseña';
		form_fields[7].placeholder='Teléfono';


		for (var field in form_fields){
			form_fields[field].className += ' form-control'
		}

	</script>
</body>

{% endblock content %}
