{% extends 'store/base.html'%}

{% load static %}

{% block content %}
<hr/>
<div class="pb-5 pt-3 container shadow-lg">
    <h2 class="pt-2 pb-4 text-center">Administración de usuarios</h2>
      <a class="btn btn-success" href="{% url 'register_client'%}">
        <i class="fa fa-user-plus"></i> Registrar Nuevo Cliente</a>
      <a class="btn btn-success" href="{% url 'register_seller'%}">
        <i class="fa fa-user-plus"></i> Registrar Nuevo Vendedor</a>
      <a class="btn btn-success" href="{% url 'register_supplier'%}">
        <i class="fa fa-user-plus"></i> Registrar Nuevo Proveedor</a>
      <a class="btn btn-success" href="{% url 'register_employee'%}">
        <i class="fa fa-user-plus"></i> Registrar Nuevo Empleado</a>
      <a class="btn btn-info" href="{% url 'exportar_usuarios'%}" style='float: right; margin-right: 2vw;'>Exportar <i class="fa fa-file-excel-o"></i></a>

      <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
        <a class="nav-link" href="{% url 'listado_usuarios' %}">Todos</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'userClients' %}">Clientes</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'userSellers' %}">Vendedores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'userSuppliers' %}">Proveedores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'userEmployees' %}">Empleados</a>
      </li>
      </ul>
    
    <table class="table ">
        <thead class= "thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Usuario</th>
                <th scope="col">Nombre</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Correo</th>
                <th scope="col">Tipo</th>
                <th scope="col">Rut</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for u in users %}
            {% if u.user %}
            <tr>
                <td scope="row">{{u.user.id}}</td>
                <td scope="row">{{u.user.username}}</td>
                <td scope="row">{{u.name}} {{u.last_name}}</td>
                <td scope="row">{{u.phone_number}}</td>
                <td scope="row">{{u.email}}</td>
                <td scope="row">{{u.tipo}}</td>
                <td scope="row">{{u.rut}}</td>

                <td scope="row"><a class="btn btn-outline-info" href="{% url 'edit_user' pk=u.user.id %}">
                    <i class="far fa-edit fa-2x"></i></a>
                </td>
                <td scope="row"><a class="btn btn-large btn-danger" data-toggle="confirmation" data-title="¿Seguro quiere eliminar esta cuenta?" href="{% url 'delete_user' pk=u.user.id %}" >Eliminar</a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}