{% extends 'store/base.html' %}
{% load static %}
{% block content %}
	<title>Editar</title>

<body>
	<div class="container h-100">
        <a  class="btn btn-outline-dark" href="{% url 'listado_usuarios' %}">&#x2190; Volver al Listado</a>
        <div class="alert alert-warning" role="alert" style="margin-top: 2vh;">
		  <strong>¡Atención!</strong> Si deseas cambiar la clave de este usuario, escribe su nueva clave en ambos campos. Si no deseas cambiar la clave, escribe la que actualmente utiliza el usuario para confirmar los demás cambios.
		</div>
        <div class="d-flex justify-content-center h-100">
        
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <h3 class="form-tittle">Editar cuenta de:</h3>
                    </div>
                     <div class="container">
                     <h4 class="form-title text-center">{{perfil.name}} {{perfil.last_name}}</h4>
                </div>
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        {{form.username}}
                    </div>
					<div class="input-group mb-3">
						<div class="input-group-append">
							<span class="input-group-text"><i class="fas fa-envelope"></i></span>
						</div>
						{{form.email}}
					</div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        {{form.password1}}
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        {{form.password2}}
                    </div>
					<div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        {{profile.name}}
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        {{profile.last_name}}
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        {{profile.phone_number}}
                    </div>
                                        <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        {{profile.rut}}
                    </div>

                       <div class="d-flex justify-content-center mt-3 login_container">
                         <input class="btn btn-success" type="submit" value="Editar Usuario">
                       </div>
                       {% if messages %}
                          <ul class="messages">
                            {% for message in messages %}
                            <div class="alert alert-danger" role="alert" style="margin-top: 20px;">
                              <li class="{{ message.tags }}">{{ message }}</li>
                            </div>
                            {% endfor %}
                          </ul>
                        {% endif %}
                </form>
            </div>
        </div>
    </div>
	    
    <script>
        /* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
        //We start indexing at one because CSRF_token is considered and input field
        */
        //Query All input fields
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder='Usuario';
        form_fields[2].placeholder='Email';
        form_fields[3].placeholder='Enter password';
        form_fields[4].placeholder='Re-enter Password';
        for (var field in form_fields){
        form_fields[field].className += ' form-control'
        }
    </script>
</body>
{% endblock content %}