<!DOCTYPE html>
{% extends 'administration/main_admin.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% block content %}
<html>
<head>
	<title>Ferreteria FERME</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

	<script type="text/javascript">
		var user = '{{request.user}}'
		function getToken(name){
			var cookieValue = null;
			if(document.cookie && document.cookie !== ''){
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++){
					var cookie = cookies[i].trim();

					if (cookie.substring(0, name.length + 1) === (name + '='))
					{
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		var csrftoken = getToken('csrftoken');
	</script>

</head>
<body>
    <div class='row' >   
		<div class='col-4' id=tittle>
			<h1>Listado de usuarios</h1>
		</div>
    </div>
	<div class='row'>
		<div class=col-12>
			<h1></h1>
		</div>
	</div>
	<div class='row'>
		<div class='col-12'>
			{% render_table table %}
		</div>
	</div>
	

  <div id='toolbar'>
    
  </div>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
	<script>

	</script>
</body>
</html>
{% endblock content %}