{% extends 'store/base.html'%}

{% load static %}

{% block content %}


<div class="pb-5 pt-3 container shadow-lg">

    <h2 class="pt-2 pb-4 text-center">Administración de Facturas</h2>
        <a class="btn btn-info" href="{% url 'exportar_facturas'%}" style='float: right; margin-right: 1vw;'>
        Exportar <i class="fa fa-file-excel-o"></i></a>
    
    <table class="table text-center">
        <thead class= "thead-dark">
            <tr>
            	<th scope="col">ID de Factura</th>
                <th scope="col">ID de Venta</th>
                <th scope="col">N° de Factura</th>
                <th scope="col">Vendedor</th>
                <th scope="col">Rut</th>
                <th scope="col">Razón Social</th>
                <th scope="col">Giro</th>
                <th scope="col">Total</th>
                <th scope="col">Cantidad de Productos</th>
                <th scope="col">Modificar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for f in facts %}

            <tr>
            	<td scope="row">{{f.id}}</td>
                <td scope="row">{{f.order.id}}</td>
                <td scope="row">{{f.order.transaction_id}}</td>
                <td scope="row">{{f.vendedor}}</td>
                <td scope="row">{{f.rut}}</td>
                <td scope="row">{{f.razon}}</td>
                <td scope="row">{{f.giro}}</td>
                <td scope="row">${{f.total|floatformat:0}} CLP</td>
                <td scope="row">{{f.order.get_cart_items}}</td>
                <td scope="row">
                  <a class="btn btn-outline-info" href="{% url 'modificar_factura' pk=f.id %}">
                      <i class="far fa-edit fa-2x"></i></a>
                </td>
                <td scope="row"><a class="btn btn-large btn-danger" data-toggle="confirmation" data-title="¿Seguro que desea eliminar esta factura?" href="{% url 'eliminar_factura' f.id %}" >Eliminar</a>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
