{% extends 'store/base.html'%}

{% load static %}

{% block content %}


<div class="pb-5 pt-3 container shadow-lg">
    <div class="alert alert-warning" role="alert" >
          <strong>¡Atención!</strong> Una Orden de Compra que ya ha sido enviada a uno de los proveedores, hasta que no sea aprobada o rechazada no se podrán realizar modificaciones en ella.
    </div>
    <h2 class="pt-2 pb-4 text-center">Ordenes de Compra</h2>
    <a class="btn btn-info mb-3" href="{% url 'exportar_ordenes'%}" style='float: right; margin-right: 2vw;'>
        Exportar <i class="fa fa-file-excel-o"></i></a>
        <a class="btn btn-success" href="{% url 'agregar_ordencompra' %}" style='float: right; margin-right: 2vw;'>
        <i class="fa fa-plus"></i> Generar nueva órden de compra</a>
    <table class="table ">
        <thead class= "thead-dark">
            <tr>
            	<th scope="col">Id Orden</th>
            	<th scope="col">Remitente</th>
                <th scope="col">Fecha Solicitud</th>
                <th scope="col">Recepción</th>
                <th scope="col">Estado</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Detalle/Modificar</th>
                <th scope="col">Eliminar</th>
                <th scope="col">Revisar</th>
            </tr>
        </thead>
        <tbody>
            {% for o in orden %}

            <tr>
            	<td scope="row">{{o.id}}</td>
                <td scope="row">{{o.remitente.name}}</td>
                <td scope="row">{{o.fecha}}</td>
                <td scope="row">{{o.estado}}</td>
                {% if o.enviado == True %}
                <td scope="row">Enviado</td>
                {% endif %}
                {% if o.enviado == False  %}
                <td scope="row">En Espera</td>
                {% endif %}
                <td scope="row">{{o.proveedor.profile.name}}</td>
                {% if o.enviado == False  %}
                <td scope="row">
                    <a class="btn btn-outline-info" href="{% url 'edit_order' pk=o.id %}">
                        <i class="far fa-edit fa-2x"></i></a>
                </td>
                {% else %}
                <td scope="row">
                    <a class="btn btn-outline-info disabled">
                      <i class="far fa-edit fa-2x"></i></a>
                </td>
                {% endif %}
                {% if o.enviado == False  %}
                <td scope="row"><a class="btn btn-large btn-danger" data-toggle="confirmation" data-title="¿Seguro que desea eliminar esta órden de compra?" href="{% url 'eliminar_ordencompra' pk=o.id %}">Eliminar</a>
                </td>
                {% else %}
                <td scope="row">
                    <a class="btn btn-large btn-danger disabled">Eliminar</a>
                </td>
                {% endif %}
                {% if o.enviado == True %}
                    <td scope="row">
                        <a class="btn btn-outline-info" href="{% url 'review_order' pk=o.id%}">
                            <i class="fa fa-arrow-right fa-2x"></i></a>
                    </td>
                {% else %}
                <td scope="row">
                    <a class="btn btn-outline-info disabled" href="{% url 'review_order' pk=o.id%}">
                        <i class="fa fa-arrow-right fa-2x"></i></a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>
<div class="pb-5 pt-3 container shadow-lg">

    <h2 class="pt-2 pb-4 text-center">Listado de Proveedores</h2>
    <table class="table text-center">
        <thead class= "thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Correo</th>
                <th scope="col">Rut</th>
            </tr>
        </thead>
        <tbody>
            {% for u in users %}
            {% if u.user %}

            <tr class="text-center">
                <td scope="row">{{u.name}}</td>
                <td scope="row">{{u.last_name}}</td>
                <td scope="row">{{u.phone_number}}</td>
                <td scope="row">{{u.email}}</td>
                <td scope="row">{{u.rut}}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    
</div>
{% endblock %}
