{% extends 'store/base.html'%}

{% load static %}

{% block content %}

<hr/>
<div class="pb-5 pt-3 "  style='min-width: 1000px'>

    <h2 class="pt-2 pb-4 text-center">Administración de Productos</h2>
    <br>
    <a class="btn btn-info" href="{% url 'exportar_productos'%}" style='float: right; margin-right: 1vw'>  Exportar <i class="fa fa-file-excel-o"></i></a>
    <a class="btn btn-success" href="{% url 'agregar_producto'%}" style="float: right; margin-right: 1vw">
        <i class="fa fa-plus"></i> Agregar Nuevo Producto</a>
        <a class="btn btn-success" href="{% url 'agregar_familia'%}" style="float: right; margin-right: 1vw">
        <i class="fa fa-plus"></i> Agregar Nueva Familia</a>
        <a class="btn btn-success" href="{% url 'agregar_tipo'%}" style="float: right; margin-right: 1vw">
        <i class="fa fa-plus"></i> Agregar Nuevo Tipo</a>
    
    
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Imagen</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">SKU</th>
                <th scope="col">Precio</th>
                <th scope="col">Stock</th>
                <th scope="col">Marca</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for p in prods %}

            <tr>
                <td scope="row">{{p.id}}</td>
                {% if p.image %}
                    <td scope="row"><img src="{{ p.image.url }}" class="card-img-top" alt="imagen"></td>
                    {% else %}
                    <td scope="row"><img src="{% static 'img/captura.png' %}" class="card-img-top" alt="imagen"></td>
                {% endif %}
                <td scope="row">{{p.name}}</td>
                <td scope="row">{{p.descripcion}}</td>
                <td scope="row">{{p.skuProducto}}</td>
                <td scope="row">${{p.price}} CLP</td>
                {% if p.stock > p.critic_stock %}
                <td scope="row">
                    <h6 class="alert alert-success" role="alert"><strong>{{p.stock}}</strong></h6> 
                </td>
                {% else %}
                <td scope="row" >
                    <h6 class="alert alert-danger" role="alert"><strong>{{p.stock}}</strong></h6>  
                </td>
                {%endif%}
                <td scope="row">{{p.marca}}</td>
                <td scope="row">{{p.proveedor}}</td>
                <td scope="row">
                  <a class="btn btn-success" href="{% url 'modificar_producto' id=p.id %}">
                      <i class="far fa-edit fa-2x"></i></a>
                </td>
                <td scope="row"><a class="btn btn-danger" data-toggle="confirmation" data-title="¿Seguro quiere eliminar este producto?" href="{% url 'eliminar_producto' pk=p.id %}" >Eliminar</a>
                </td>

            </tr>

            {% endfor %}
        </tbody>
    </table>

</div>


{% endblock %}
