{% extends 'store/base.html'%}

{% load static %}

{% block content %}

<div class="pb-5 pt-3 container shadow-lg">
    <h2 class="pt-2 pb-4 text-center">Administración de Boletas</h2>
        <a class="btn btn-info" href="{% url 'exportar_boletas'%}" style='float: right; margin-right: 1vw;'>
        Exportar <i class="fa fa-file-excel-o"></i></a>
    <table class="table text-center">
        <thead class= "thead-dark">
            <tr>
            	<th scope="col">ID de Boleta</th>
                <th scope="col">ID de Venta</th>
                <th scope="col">N° de Boleta</th>
                <th scope="col">Vendedor</th>
                <th scope="col">Total</th>
                <th scope="col">Cantidad de Productos</th>
                <th scope="col">Modificar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for b in bills %}
            <tr>
            	<td scope="row">{{b.id}}</td>
                <td scope="row">{{b.order.id}}</td>
                <td scope="row">{{b.order.transaction_id}}</td>
                <td scope="row">{{b.vendedor}}</td>
                <td scope="row">${{b.total|floatformat:0}} CLP</td>
                <td scope="row">{{b.order.get_cart_items}}</td>
                <td scope="row">
                  <a class="btn btn-outline-info" href="{% url 'modificar_boleta' pk=b.id %}">
                      <i class="far fa-edit fa-2x"></i></a>
                </td>
                <td scope="row"><a class="btn btn-large btn-danger" data-toggle="confirmation" data-title="¿Seguro que desea eliminar esta boleta?" href="{% url 'eliminar_boleta' pk=b.id %}">Eliminar</a>
                </td>

            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
