{% extends 'store/base.html'%}

{% load static %}
{% block content %}

<hr/>
<div class="container h-100">
    <a  class="btn btn-outline-dark" href="{% url 'adm-ordencompra' %}">&#x2190; Volver al Listado</a>
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <h3 id="form-title">Agregar nueva órden de compra</h3>
            </div>
        <div class="d-flex justify-content-center form_container">

    <form class="container py-3" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h6><strong>Proveedor</strong></h6>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            {{form.proveedor}}
        </div>
        <h6><strong>Detalle</strong></h6>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-comment"></i></span>
            </div>
            {{form.detalle}}
        </div>
        <div class="py-4">
            <input class="btn btn-outline-primary" type="submit" name="btnsave" value="Guardar y enviar mas tarde">
            <input class="btn btn-success" type="submit" name="btnsend" value="Enviar">
        </div>
    </form>
    </div>
    {{ mensaje }}
        </div>
    </div>
</div>

{% endblock %}