{% extends 'store/base.html' %}
{% load static %}
{% block content %}

<div class="container h-100">
    <a  class="btn btn-outline-dark" href="{% url 'administrar_productos' %}">&#x2190; Volver al Listado</a>
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <h3 id="form-title">Aagregar familia producto</h3>
            </div>
        <div class="d-flex justify-content-center form_container">
        <form class="container py-3 " action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h6><strong>Código de Familia</strong></h6>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-tag"></i></span>
            </div>
            {{form.id_familia}}
        </div>
        <h6><strong>Nombre Familia</strong></h6>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
            </div>
            {{form.name}}
        </div>
        <div class="py-4">
            <input class="btn btn-outline-success" type="submit" value="Agregar Familia">
        </div>  
    </form>
    </div>
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-danger" role="alert" style="margin-top: 20px;">
              <li class="{{ message.tags }}">{{ message }}</li>
            </div>

            {% endfor %}
          </ul>
        {% endif %}
        </div>
    </div>
</div>

{% endblock content %}