<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Ferreteria FERME</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/ico-web.png' %}" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">



	<script type="text/javascript">
		var user = '{{request.user}}'
		function getToken(name){
			var cookieValue = null;
			if(document.cookie && document.cookie !== ''){
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++){
					var cookie = cookies[i].trim();

					if (cookie.substring(0, name.length + 1) === (name + '='))
					{
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		var csrftoken = getToken('csrftoken');


		function getCookie(name){
			var cookieArr = document.cookie.split(";");
			for (var i = 0; i < cookieArr.length; i++) {
				var cookiePair = cookieArr[i].split("=");
				if(name == cookiePair[0].trim()){
					return decodeURIComponent(cookiePair[1]);
				}
			}
			return null;
	}
		var cart = JSON.parse(getCookie('cart'))
		if (cart == undefined) {
			cart = {}
			console.log('Carro creado')
			document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)
	</script>

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-light">

	  <a class="navbar-brand" href="{% url 'store' %}"><img src="{% static 'img/FERME_LOGO2.png' %}" id="logo"/></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
	    	<ul class="navbar-nav mr-auto">

	      		<li class="nav-item active">
	        		<a class="nav-link"  style="color: black;" href="{% url 'store' %}">Inicio <span class="sr-only">(current)</span></a>
		  		</li>
		  		<li class=" nav-item active dropdown">
			        <a class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: black;" href="#">Familias
			        </a>
			        <ul class="dropdown-menu" style="background-color: white;">
			          <li class="nav-item active"><a class="nav-link"  style="color: black;" href="{% url 'storeCategories' pk=1 %}">Construcción</a></li>
			          <li class="nav-item active"><a class="nav-link"  style="color: black;" href="{% url 'storeCategories' pk=2 %}">Herramientas</a></li>
			          <li class="nav-item active"><a class="nav-link"  style="color: black;" href="{% url 'storeCategories' pk=3 %}">Ferretería</a></li>
			          <li class="nav-item active"><a class="nav-link"  style="color: black;" href="{% url 'storeCategories' pk=4 %}">Maquinarias</a></li>
			        </ul>
			      </li>
				  <li class=" nav-item active dropdown">
			        <a class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: black;" href="#">Tipo Productos
			        </a>
			        <ul class="dropdown-menu" style="background-color: white">
			          <li class="nav-item active"><a class="nav-link"  style="color: black;" href="{% url 'storeTypes' pk=1 %}">Cementos</a></li>
			          <li class="nav-item active"><a class="nav-link"  style="color: black;" href="{% url 'storeTypes' pk=2 %}">Maderas</a></li>
			          <li class="nav-item active"><a class="nav-link"  style="color: black;" href="{% url 'storeTypes' pk=3 %}">Herramientas Eléctricas</a></li>
			          <li class="nav-item active"><a class="nav-link"  style="color: black;" href="{% url 'storeTypes' pk=4 %}">Herramientas Manuales</a></li>
			          <li class="nav-item active"><a class="nav-link"  style="color: black;" href="{% url 'storeTypes' pk=5 %}">Clavos</a></li>
			          <li class="nav-item active"><a class="nav-link"  style="color: black;" href="{% url 'storeTypes' pk=6 %}">Alambres</a></li>
			          <li class="nav-item active"><a class="nav-link"  style="color: black;" href="{% url 'storeTypes' pk=7 %}">Compresores</a></li>
			          <li class="nav-item active"><a class="nav-link"  style="color: black;" href="{% url 'storeTypes' pk=8 %}">Soldadoras</a></li>
			        </ul>
			      </li>
		  		<li class="nav-item active" id="adm-facturation">
	        		<a class="nav-link"  style="color: black;" href="{% url 'adm-factura' %}">Facturas<span class="sr-only"></span></a>
		  		</li>
		  		<li class="nav-item active" id="adm-bill">
	        		<a class="nav-link"  style="color: black;" href="{% url 'adm-boleta' %}">Boletas<span class="sr-only"></span></a>
		  		</li>
		  		<li class="nav-item active" id="adm-product">
	        		<a class="nav-link"  style="color: black;" href="{% url 'administrar_productos' %}">Productos<span class="sr-only"></span></a>
		  		</li>
		  		<li class="nav-item active" id="adm-order">
	        		<a class="nav-link"  style="color: black;" href="{% url 'adm-ordencompra' %}">Ordenes de Compra<span class="sr-only"></span></a>
				  </li>
					<li class="nav-item active" id="adm-users">
	        		<a class="nav-link"  style="color: black;" href="{% url 'listado_usuarios' %}">Usuarios<span class="sr-only"></span></a>
	        	  </li>
	        	  {% if user.is_authenticated %}
	        	  	<li class="nav-item active" id="cuenta">
						<a class="nav-link"  style="color: black;" href="{% url 'edit' user.id %}">Mi Cuenta<span class="sr-only"></span></a>
					</li>
				    {% endif %}
				  {% if request.user.profile.supplier.is_supplier %}
				   <p>
					<li class="nav-item active" id="cuenta">
						<a class="nav-link"  style="color: black;" href="{% url 'proveedor-ordencompra' %}">Consulta de ordenes<span class="sr-only"></span></a>
				   {% endif %}
				   <!-- END CONSULTA ORDENES PROVEDORES -->
			</ul>
		</div>

	    <div class="form-inline my-2 my-lg-0">
			{% if user.is_authenticated  %}
			<div style="padding-right: 10px; color: black;">¡Bienvenid@,  {{ user.profile.tipo }} {{ user.profile.name }}!
			<br><a href="{% url 'logout' %}" style="color: red;">Cerrar Sesión</a></div>


			{% else %}
  			<div style="padding-right: 10px; color: black;">No estás registrado
			<br><a href="{% url 'loginn' %}" style="color: green;">Iniciar Sesión</a></div>
			{% endif %}

	     	<a href="{% url 'cart' %}">
	    		<img  id="cart-icon" src="{% static 'img/cart.png' %}">
	    	</a>
	    	<p id="cart-total">{{cartItems}}</p>

	    </div>
	  </div>
	</nav>

    <div class="container">
            <br>
            {% block content %}


            {% endblock content %}
    </div>
	<!-- Footer -->



	<!-- Script popper.js, para consultar antes de borrar productos/aprobar ordenes, no modificar -->	
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>


	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<!-- END Script popper.js, para consultar antes de borrar productos/aprobar ordenes, no modificar -->

	<script type="text/javascript" src="{% static 'js/bootstrap-confirmation.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/delete.js' %}"></script>

	<script type="text/javascript">
		// permisos de vistas al crud
		var is_client = '{{user.profile.cliente.is_client}}'
		var is_seller = '{{user.profile.seller.is_seller}}'
		var is_supplier = '{{user.profile.supplier.is_supplier}}'
		var is_employee = '{{user.profile.employee.is_employee}}'
		var is_admin = '{{user.profile.administrator.is_admin}}'

		if (is_client == 'True'){
			document.getElementById('adm-order').innerHTML = ''
			document.getElementById('adm-users').innerHTML = ''
			document.getElementById('adm-facturation').innerHTML = ''
			document.getElementById('adm-bill').innerHTML = ''
			document.getElementById('adm-product').innerHTML = ''
		}
		else if (is_seller == 'True'){
			document.getElementById('adm-order').innerHTML = ''
			document.getElementById('adm-users').innerHTML = ''
		}
		else if (is_supplier == 'True'){
			document.getElementById('adm-facturation').innerHTML = ''
			document.getElementById('adm-bill').innerHTML = ''
			document.getElementById('adm-product').innerHTML = ''
			document.getElementById('adm-users').innerHTML = ''
			document.getElementById('adm-order').innerHTML = ''
		}
		else if (is_employee == 'True'){
			document.getElementById('adm-facturation').innerHTML = ''
			document.getElementById('adm-bill').innerHTML = ''

		}
		else if (is_admin == 'True'){

		}else{
			document.getElementById('adm-facturation').innerHTML = ''
			document.getElementById('adm-bill').innerHTML = ''
			document.getElementById('adm-product').innerHTML = ''
			document.getElementById('adm-order').innerHTML = ''
			document.getElementById('adm-users').innerHTML = ''
		}

		$('[data-toggle=confirmation]').confirmation({
		  rootSelector: '[data-toggle=confirmation]',
		  // other options
		});
	</script>

</body>
	<!-- Begin Footer -->
	<br>
	<hr />
		<!-- Section: Social media -->
		<section class="bg-light">
			<div class="container text-center text-md-start mt-5 ">
				<div class="row mt-3">
					<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
						<h6 class="text-uppercase fw-bold mb-4">Ferretería Ferme</h6>
						<p>Somos una empresa familiar, sólo tienes que pensar en tu proyecto: nosotros te damos las herramientas.</p>
					</div>
					<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
						<h6 class="text-uppercase fw-bold mb-4">Políticas</h6>
						<p>Devoluciones</p>
						<p>Envíos</p>
						
					</div>
					<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
						<h6 class="text-uppercase fw-bold mb-4">Contáctanos</h6>
						<p><i class="fas fa-home me-3"></i> Pedro de Valdivia, 188, Región Metropolina. Chile.</p>
						<p><i class="fas fa-envelope me-3"></i> contacto@ferme.cl</p>
						<p><i class="fas fa-phone me-3"></i> +569 79258744</p>
					</div>
				</div>
			</div>
		</section>
		<!-- Copyright -->
		<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.288);">© 2021 Portafolio de Título, Duoc.
		</div>
		<!-- End Copyright -->
	</footer>
</html>
