{% extends 'store/base.html' %}
{% load static %}
{% block content %}


	<div class="row">
		<div class="col-lg-12">
			<div class="box-element">

				<a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continuar Comprando</a>

				<br>
				<br>
				<table class="table">
					<tr>
						<th><h5>Productos: <strong>{{order.get_cart_items}}</strong></h5></th>
						<th><h5>Total:<strong> ${{order.get_cart_total|floatformat:0}}</strong></h5></th>
						<th>
							<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Boleta</a>
							<a  style="float:right; margin:5px;" class="btn btn-warning" href="{% url 'checkoutfact' %}">Factura</a>
						</th>

					</tr>
				</table>

			</div>

			<br>
			<div class="box-element">
				<div class="cart-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>Producto</strong></div>
					<div style="flex:1"><strong>Precio</strong></div>
					<div style="flex:1"><strong>Cantidad</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
				</div>
				
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
					<div style="flex:2"><p>{{item.product.name}}</p></div>
					<div style="flex:1"><p>{{item.product.price|floatformat:0}}</p></div>
					<div style="flex:1">
						<p class="quantity">{{item.quantity}}</p>
						<div class="quantity">
							<img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" src="{% static  'img/arrow-up.png' %}">
					
							<img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart" src="{% static  'img/arrow-down.png' %}">
						</div>
					</div>
					<div style="flex:1"><p>${{item.get_total|floatformat:0}}</p></div>
				</div>
                {% endfor %}
			</div>
		</div>
	</div>
	{% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 20px;">
        	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    	<span aria-hidden="true">×</span></button>
          <li class="{{ message.tags }}">{{ message }}</li>
        </div>

        {% endfor %}
      </ul>
    {% endif %}
{% endblock content %}

