{% extends 'store/base.html' %}
{% load static %}
{% block content %}
<body>
    
<hr/>
	<div class="container h-100">
        <a  class="btn btn-outline-dark" href="{% url 'proveedor-ordencompra' %}">&#x2190; Volver al Listado</a>
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <h3 class="form-tittle">Revisando orden de compra N°: {{order.id}}</h3>
                </div>
                <br>
                <div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                            <h5 class="text-center">Proveedor: {{order.proveedor}}</h5>
                        </div>
                    </div>
                <br>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-boxes"></i></span>
                            <h5 class="text-center">Detalle de compra: {{order.detalle}}</h5>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
        <script>

            var form_fields = document.getElementsByTagName('input')
            for (var field in form_fields){
            form_fields[field].className += ' form-control'
            }
        </script>
</body>
{% endblock content %}