{% extends 'store/base.html' %}
{% load static %}
{% block content %}
<title>Editar Orden de compra</title>
<body>

	<div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <h3 class="text-center">Consultar orden de compra</h3>
                </div>
                <form method="POST" action="" enctype="multipart/form-data">
                    <fieldset disabled>
                        {% csrf_token %}

                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            {{form.proveedor}}
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-comment-o"></i></span>
                            </div>
                            {{form.detalle}}
                        </div>
                    </fieldset> 
                    <div class="d-flex justify-content-center mt-3">
                        <a type="button" class="btn btn-outline-primary" href="{% url 'proveedor-ordencompra' %}">Volver a consulta</a>
                    </div>                       
                </form>
            </div>
        </div>
    </div>
        <script>
            /* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
            //We start indexing at one because CSRF_token is considered and input field
            */
            //Query All input fields
            var form_fields = document.getElementsByTagName('input')
            for (var field in form_fields){
            form_fields[field].className += ' form-control'
            }
        </script>
</body>

{% endblock content %}