{% extends 'store/base.html' %}
{% load static %}
{% block content %}
    <title>Editar Factura</title>
<body>
    <div class="container h-100">
        <a  class="btn btn-outline-dark" href="{% url 'adm-factura' %}">&#x2190; Volver al Listado</a>
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <h3><class class="form-tittle">MODIFICAR FACTURA</class></h3>
                </div>
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h6>ID de Compra</h6>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-hashtag"></i></span>
                        </div>
                        {{ receipt.order.id }}
                    </div>
                    <h6>Número de Factura</h6>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-hashtag"></i></span>
                        </div>
                        {{ receipt.num_factura }}
                    </div>
                    <h6>Vendedor</h6>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        {{ form.vendedor }}
                    </div>
                    <h6>Total</h6>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-usd"></i></span>
                        </div>
                        {{ receipt.total|floatformat:0 }}
                    </div>
                    <h6>Rut Empresa</h6>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-address-card"></i></span>
                        </div>
                        {{ form.rut }}
                    </div>
                    <h6>Razón Social</h6>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-briefcase"></i></span>
                        </div>
                        {{ form.razon }}
                    </div>
                    <h6>Giro</h6>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-credit-card-alt"></i></span>
                        </div>
                        {{ form.giro }}
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><h6> Productos:</h6></span>
                        </div>
                    </div>
                    {%for i in items%}
                    <p>{{i.product}} x{{i.quantity}}</p>
                    {%endfor%}
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn btn-outline-success" type="submit" value="Modificar Factura">
                   </div>
                </form>
            </div>
        </div>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10vh; text-align: center; font-size: 1.2rem;">
          <strong>OJO!</strong> Por motivos legales, solo puedes modificar el nombre del vendedor que realizo la venta de esta boleta y los datos de la empresa.
        </div>
    <script>
        /* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
        //We start indexing at one because CSRF_token is considered and input field
        */
        //Query All input fields
        var form_fields = document.getElementsByTagName('input')
        for (var field in form_fields){
        form_fields[field].className += ' form-control'
        }
    </script>
</body>
{% endblock content %}