{% extends 'store/base.html' %}
{% load static %}
{% block content %}
    <title>Editar Orden de compra</title>
<body>
    

	<div class="container h-100">
        <a  class="btn btn-outline-dark" href="{% url 'adm-ordencompra' %}">&#x2190; Volver al Listado</a>
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <h3 class="form-tittle">MODIFICANDO ORDEN DE COMPRA #{{order.id}}</h3>
                </div>
                <form method="POST" action="" enctype="multipart/form-data">

                    {% csrf_token %}

                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        {{form.proveedor}}
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-comment"></i></span>
                        </div>
                        {{form.detalle}}
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn btn-outline-primary" type="submit" name="btnsave" value="Guardar">
                   </div>
                   <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn btn-success" type="submit" name="btnsend" value="Guardar y Envíar">
                   </div>

                </form>
            </div>
        </div>
    </div>
	    <div class="alert alert-warning" role="alert" style="margin-top: 10vh;">
		  <strong>OJO!</strong> Si deseas modificar esta Orden de Compra pero no enviarla, haz click en el botón <b>Guardar</b>, una vez hayas realizados los cambios. Si deseas enviar la Orden de Compra a tu Proveedor, una vez hayas modificado esta, haz click en el botón <b>Guardar y Envíar</b>
		</div>
        <script>
            /* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
            //We start indexing at one because CSRF_token is considered and input field
            */
            //Query All input fields
            var form_fields = document.getElementsByTagName('input')
            for (var field in form_fields){
            form_fields[field].className += ' form-control'
            }
        </script>
</body>
{% endblock content %}