{% extends 'store/base.html' %}
{% load static %}
{% block content %}
<hr/>
<div class="container">
	<h2 style="text-align: center;">Todo lo que busques en el rubro de la construcción de acuerdo al trabajo que estés realizando, puedes encontrarlo en ferme.cl</h2>
</div>
<hr />

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static 'img/FERME1.png' %}" data-src="holder.js/900x400?theme=social" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'img/FERME2.jpg' %}" data-src="holder.js/900x400?theme=industrial" alt="Second slide">
    </div>
	<div class="carousel-item">
		<img class="d-block w-100" src="{% static 'img/FERME3.jpg' %}" data-src="holder.js/900x400?theme=industrial" alt="Second slide">
	  </div>
  	</div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>
<br>

	<div class="row">
		{% for product in products %}
		<div class="col-lg-4">					
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h5><strong>{{product.name}}</strong></h5>
				<div>
				<h7>Descripción: {{product.descripcion}}</h7>
				</div>
				<div>
				<small>Marca: {{product.marca}}</small>
				</div>
				<small>ID Producto: {{product.skuProducto}}</small>
				<hr>
				{% if product.stock > 0 %}
				<button data-product={{product.id}} data-action="add" class="btn btn-success add-btn update-cart">Agregar al carro</button>
				{% else %}
				<button class="btn btn-danger disabled">Sin Stock</button>
				{% endif %}
				<button class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal{{product.id}}">Ver más...</button>
				<h4 style="float: right">
				$ {{product.price|floatformat:0}}</h4>
			</div>
		</div>
		<div class="modal fade" id="exampleModal{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel"><b>{{product.name}}</b></h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			      	<img class="thumbnail" src="{{product.imageURL}}">
					<p><strong>Nombre del Producto:</strong> {{product.name}}</p>
	                <p><strong>Precio:</strong> ${{product.price|floatformat:0}}</p>
					<p><strong>Descripción:</strong> {{product.descripcion}}</p>
	                <p><strong>Stock:</strong> {{product.stock}}</p>
	                <p><strong>Proveedor:</strong> {{product.proveedor}}</p>
	                <p><strong>Familia del Producto:</strong> {{product.familia}}</p>
	                <p><strong>Tipo de Producto:</strong> {{product.tipo_producto}}</p>
					<p><strong>ID del Producto:</strong> {{product.skuProducto}}</p>
				</div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Volver</button>
			      </div>
			    </div>
			  </div>
		</div>
			{% endfor %}
	</div>
	</div>

{% endblock content %}