{% extends 'store/base.html' %}
{% load static %}
{% block content %}
	<title>Editar</title>
<body>
	<div class="container h-100">
        <a  class="btn btn-outline-dark" href="{% url 'adm-boleta' %}">&#x2190; Volver al Listado</a>
        	    <div class="alert alert-warning" role="alert" style="margin-top: 2vh; text-align: center; font-size: 1.0rem;">
		  <strong>¡Atención!</strong> Sólo se puede modificar el nombre del vendedor.
		</div>
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <h3 class="form-tittle">Modificar boleta N°: {{bill.id}}</h3>
                </div>
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <br>
                    <h6>ID de Compra</h6>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-hashtag"></i></span>
                        </div>
                        {{bill.order.id}}
                    </div>
                    <h6>Número de Boleta</h6>
					<div class="input-group mb-3">
						<div class="input-group-append">
							<span class="input-group-text"><i class="fa fa-hashtag"></i></span>
						</div>
						{{bill.num_boleta}}
                    </div>
                    <h6>Vendedor</h6>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        {{form.vendedor}}
                    </div>
                    <h6>Total</h6>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-usd"></i></span>
                        </div>
                        {{bill.total|floatformat:0}}
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><h6> Productos:</h6></span>
                        </div>
                    </div>
                    {%for i in items%}
                    <p>{{i.product}} x{{i.quantity}}</p>
                    {%endfor%}
                    <div class="d-flex justify-content-center mt-3 login_container">
                         <input class="btn btn-success" type="submit" value="Modificar Boleta">
                    </div>
                </form>
	         </div>
	    </div>
	</div>
    <script>

        var form_fields = document.getElementsByTagName('input')
        for (var field in form_fields){
        form_fields[field].className += ' form-control'
        }
    </script>
</body>
{% endblock content %}