{% extends 'store/base.html' %}
{% load static %}
{% block content %}

<title>Revisar orden de compra</title>

<body>
    <a  class="btn btn-outline-dark" href="{% url 'adm-ordencompra' %}">&#x2190; Volver al Listado</a>

        <div class="d-flex justify-content-center h-100">
            <div class="user-card">
                <h3><strong>Orden de Compra #{{orden.id}}</strong></h3>
                <h3>Proveedor</h3>
                {{ orden.proveedor }}
                <br>
                <br>
                <h3>Detalle</h3>
                {{ orden.detalle }}
                <h3 class='my-4'>Estado de orden</h3>
                {% if orden.estado == 'Aprobado' %}
                <div class="alert alert-success" role="alert" style="align-content: center;">
                    <p class='alert-text pt-2' style="text-align: center; font-size: 1.2rem; font-weight: bold;">Orden de compra aprobada.</p>
                </div>
                {% elif orden.estado == 'Rechazado' %}
                <div class="alert alert-danger" role="alert" style="text-align: center; font-size: 1.2rem; font-weight: bold;">
                    <p class='alert-text pt-2'>Orden de compra rechazada.</p>
                </div>
                {% else %}
                <div style="padding-top: 10vh;">
                    <button type="button" class="btn btn-success"
                            data-toggle="confirmation" data-title="¿Aprobar esta orden?"
                            href="{% url 'aprobar_orden' pk=orden.pk %}">
                        <i class="fa fa-check">Aprobar Orden</i>
                    </button>
                    <button type="button" class="btn btn-danger"
                            data-toggle="confirmation" data-title="¿Rechazar esta orden?"
                            href="{% url 'rechazarOrden' pk=orden.pk %}">
                        <i class="fa fa-times">Rechazar Orden</i>
                    </button>
                </div>
                {% endif %}
            </div>
        </div>

</body>
<script>
    /* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
    //We start indexing at one because CSRF_token is considered and input field
    */
    //Query All input fields
    var form_fields = document.getElementsByTagName('input')
    for (var field in form_fields){
    form_fields[field].className += ' form-control'
    }
</script>
{% endblock content %}