{% extends 'store/base.html' %}
{% load static %}
{% block content %}
<div class="pb-5 pt-3 container shadow-lg text-center">
    <h2 class="text-center">Consultar Orden de Compra</h1>
    <br>
    <div class="alert alert-info" role="alert">
        <strong>¡Bienvenid@, {{request.user.profile.name}}!</strong> Aquí encontrarás todas las Ordenes de Compra que te han sido enviadas. Para revisar el detalle, haz click en el botón Revisar
    </div>
    <table class="table ">
        <thead class= "thead-dark">
            <tr>
                <th scope="col">Id Orden</th>
                <th scope="col">Remitente</th>
                <th scope="col">Fecha Solicitud</th>
                <th scope="col">Recepción</th>
                <th scope="col">Estado</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Revisar</th>
            </tr>
        </thead>
        <tbody>
            {% for o in orden %}
            {% if o.proveedor.pk == prov.pk %}
            {% if o.enviado == True %}
            <tr>
                <td scope="row">{{o.id}}</td>
                <td scope="row">{{o.remitente.name}}</td>
                <td scope="row">{{o.fecha}}</td>
                <td scope="row">{{o.estado}}</td>
                {% if o.enviado == True %}
                <td scope="row">Enviado</td>
                {% endif %}
                {% if o.enviado == False  %}
                <td scope="row">En Espera</td>
                {% endif %}
                <td scope="row">{{o.proveedor.profile.name}}</td>
                <td scope="row">
                  <a class="btn btn-outline-info" href="{% url 'check_order' pk=o.id %}">
                      <i class="fa fa-eye fa-2x"></i></a>
                </td>

            </tr>
            {% endif %}
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}